---
layout: archive
---

{{ content }}

Hear me, Sons of Light, for I will impart to you the gift of tongues, that by speaking to your Earthly Mother in the morning, and to your Heavenly Father in the evening, you may go closer and closer to oneness with the kingdoms of earth and heaven, that oneness for which the Son of Man is destined from the beginning of the times.
~Essene Gospel of Peace

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
